/* Página todas las bicicletas */

body{
	height: auto;
	background-color: #FCFCFC;
}

/* HEADER */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&family=Lato:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
/*Global*/
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}
/*header*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;


    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
    transition: background-size .3s;
}
body{
    z-index: 1;
}
header{
    position: fixed;
    margin: 0;
    width: 100%;
    max-height: 10%;
    z-index: 2;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {

    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgb(0, 0, 0, .95);
    text-align: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transform: all .5s;
    color: #fff;
}

.nav-menu li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #00e391;
    transition: .3s;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/* BANNER TEXT */

.banner-text {
    padding: 0 30px;

    text-align: center;
    color: #fff;
}

.banner-text h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span {
    color: #fff;
}

.banner-text h3 {
    font-size: 20px;
    font-weight: 0px;
}


.button1 {
    margin-right: 40px;
    padding: 10px 40px;
    background-color: #00e391;
    color: #fff;
    border-radius: 20px;
}

.button1:hover {
    background-color: black;
    color: #fff;
    transition: .5s;
}

.button2 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #00e391;
    color: white;
    border-radius: 20px;
}

.button2:hover {
    background-color: black;
    color: #fff;
    transition: .5s;
}

.botones {
    margin-top: 100px;
}

header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Anek Devanagari", sans-serif;
	top: 0;
}

/* RESPONSIVE FOR DESKTOP */

@media screen and (min-width: 768px ) {


    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
        background-color: #ecedeb;
        position: fixed;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    .banner-text h1 {
        font-size: 60px;
        margin-bottom: 150px;
        color: white;
    }

    span {
        color: #00e391 !important;
    }

    .banner-text h2 {
        font-size: 24px;
    }
}


/*Body*/

.first-element-body {
    margin: 100px;
    text-align: center;
    font-size: 38px;
}

.about-us {
    margin: 20px;
}

.left-part {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.text-about-us {
    display: flex;
}

/* ICONS */

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}

.logos-description1 {
    display: flex;
    flex-direction: column;
}

.logos-description2 {
    display: flex;
    flex-direction: column;
}

.logos-description3 {
    display: flex;
    flex-direction: column;
}

.logos-description4 {
    display: flex;
    flex-direction: column;
}


fa-right-long {
    color: #00e391;
}

.text-icons {
    display: flex;
    justify-content: space-evenly;
}

.icon-img {
    height: 100px;
}



/*FOOTER*/

footer{
    margin-top: 100px;
    color: white;
    background-color: black;
    text-align: center;
}

.social-networks{
    color: #00e391;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  transition: .2s;
  border-radius: 2px;
  margin-top: 150px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
	margin: 10px;
}

.details:hover{
  transform: scale(1.1);
  border: solid 1px #d0d0d0;
}


.imagen_main{
  width: 300px ;
  height: 250px;
  object-fit: contain;
}

@media screen and (max-width: 1080px) and (min-width: 428px) {
    .fa-sharp.fa-solid.fa-bars{
  display: block;
  margin-right: 20px;
}
    section{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px;
    }
    .nav-menu{
  display: none;
}
}








