nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
}

.logo {
    width: 140px;
    margin-left: 20px;
}

.nav-menu {
    width: 100%;
    top: 100px;
    text-align: center;
}

.nav-menu li {
    line-height: 30px;
    margin: 50px 0;
    transform: all .5s;
    color: #fff;
}

.nav-menu li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #00e391;
    transition: .3s;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.nav-mobile-icon {
    display: none !important;
}

.nav-container {
    margin-right: 50px;
}

i {
    font-size: 20px;
    color: #00e391;
}


/* RESPONSIVE TABLET*/

@media screen and (max-width: 1080px) and (min-width: 428px) {
    .nav-mobile-icon {
        display: block;
        margin-right: 20px;
    }

    .nav-mobile-icon {
        display: inline !important;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid grey;
        background-color: white;
        width: 200px;
    }

    .nav-menu li {
        margin: 0;
        padding: 5px 10px;
    }

    .nav-container {
        position: relative;
        display: flex;
        justify-content: end;
        margin-right: 15px;
    }

    .nav-container:hover > .nav-menu, .nav-menu:hover {
        display: block;
    }

}

@media screen and (min-width: 1080px ) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
        background-color: #e1e1e1;
        position: fixed;
        top: 0;
    }


    .nav-menu {
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    .fa-solid,
    .fa-right-long {
        color: #00e391;
    }
}
