@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&family=Lato:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
/*Global*/
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}
a:hover, a:focus {
    background-size: 100% 2px;
}
body{
    background-color: #ecedeb;
    z-index: 1;
}
/*header*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
    transition: background-size .3s;
}

.first-photo{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/heybike-ukrLS6V-7Oo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: "Anek Devanagari", sans-serif;
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

/* BANNER TEXT */

.banner-text {
    padding: 0 30px;

    text-align: center;
    color: #fff;
}

.banner-text h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span {
    color: #fff;
}

.banner-text h3 {
    font-size: 20px;
}

@media screen and (min-width: 1080px ) {

    .bar-btn {
        display: none;
    }

    .banner-text h1 {
        font-size: 60px;
        margin-bottom: 150px;
        color: white;
    }

    span {
        color: #00e391 !important;
    }

    .banner-text h2 {
        font-size: 24px;
    }
}

/* Sticky plus */


/*Body*/

.first-element-body {
    margin: 100px;
    text-align: center;
    font-size: 38px;
}

.about-us {
    margin: 20px;
}

.left-part {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.text-about-us {
    display: flex;
}



/* FORM */


article {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px;
    max-width: 1080px;
    margin: auto;
    line-height: 50px;
    color: black;
  }

  i {
    font-size: 40px;
    color: #00e391;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    display: flex;
    border-bottom-width: 1px;
    width: 100%;
  }

  hgroup {
    text-align: center;
    margin-top: 4em;
    color: #000000;
  }

  form {
    width: 600px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
      rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  }

  .group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: flex;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
      z-index: 1;
  }

  input:focus {
    outline: none;
  }





  /* Underline */

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00e391;
    transition: all 0.2s ease;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* Highlight */

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    opacity: 0.5;
  }

  .button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: 0.3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #00e391;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .button:focus {
    outline: 0;
  }

  /* Button modifiers */

  .buttonBlue {
    background: #00e391;
    text-shadow: 1px 1px 1px #00e391;
  }

  .buttonBlue:hover {
    background: #00e391;
  }


  /* FOOTER */

footer{
    margin-top: 200px;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0;
}

.social-networks{
    color: #00e391;
}

.nav-menu{
    z-index: 100;
}
nav{
    z-index: 100;
}


@media screen and (max-width: 1080px) and (min-width: 428px) {
  .first-photo{
    width: 100%;
    height: 40px;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Anek Devanagari", sans-serif;

}

.fa-sharp.fa-solid.fa-bars{
  display: block;
  margin-right: 20px;
}


body{
  font-size: 14px;
}
.nav-menu{
  display: none;
}
form {
  width: 900px;
  height: 700px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

}
hgroup {
  text-align: center;
  margin-top: 4em;
  color: #000000;
  font-size: 20px;
}
input {
  display: flex;
  border-bottom-width: 1px;
  width: 100%;
  font-size: 23px;
  padding: 30px;

}
#nombre{
    border-bottom-width: 1px;
}
footer{
  font-size: 20px;
}

.banner-text{
    display: none;
}

}